.combo-box {
    -fx-background-color: #EEEEEE;
    -fx-border-color: #AAAAAA;
    -fx-border-width: 1px;
    -fx-font-size: 10px;
    -fx-prompt-text-fill: #999999;
    -fx-text-fill: #000000;
}

.combo-box:hover {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #555555;
    -fx-border-width: 1px;
    -fx-font-size: 10px;
}

.combo-box:pressed {
    -fx-background-color: #999999;
    -fx-border-color: #777777;
    -fx-border-width: 1px;
    -fx-font-size: 10px;
}

.combo-box:disabled {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-font-size: 10px;
    -fx-opacity: 0.5;
    -fx-prompt-text-fill: #999999;
    -fx-text-fill: #999999;
}

.combo-box .list-cell:empty {
    -fx-background-color: transparent;
}

.combo-box .list-cell:hover {
    -fx-background-color: #CCCCCC;
}

.combo-box .list-cell:selected {
    -fx-background-color: #999999;
    -fx-text-fill: #FFFFFF;
}
