.list-view {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #222222;
}

.list-view:disabled {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 10px;
    -fx-opacity: 0.5;
    -fx-color: #999999;
}

.list-cell {
    -fx-background-color: #EEEEEE;
    -fx-font-size: 10px;
}

.list-cell:selected {
    -fx-background-color: #999999;
    -fx-font-size: 10px;
}
