.menu-bar {
    -fx-background-color: #EEEEEE;
    -fx-border-color: #222222;
    -fx-font-size: 10px;
}

.menu {
    -fx-background-color: #EEEEEE;
    -fx-font-size: 10px;
}

.menu:hover {
    -fx-background-color: #CCCCCC;
    -fx-font-size: 10px;
}

.menu:pressed {
    -fx-background-color: #999999;
    -fx-font-size: 10px;
}

.menu:disabled {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 10px;
    -fx-opacity: 0.5;
    -fx-color: #999999;
}

.menu-item {
    -fx-background-color: #EEEEEE;
    -fx-font-size: 10px;
}

.menu-item:hover {
    -fx-background-color: #CCCCCC;
    -fx-font-size: 10px;
}

.menu-item:pressed {
    -fx-background-color: #999999;
    -fx-font-size: 10px;
}

.menu-item:disabled {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 10px;
    -fx-opacity: 0.5;
    -fx-color: #999999;
}
